<div class="panel-body mt-2">
    <table class="table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>check IN Date</th>
                <th>check Out Date </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings ">
                <td>{{booking.checkInDate }}</td>
                <td>{{booking.checkOutDate }}</td>
                <td>
                    <button (click)="delete(booking.id)" class='btn btn-danger'><i
                            class="fa fa-futboll-0">Cancel</i></button>
                    <button (click)="open(booking)" class='ml-1 btn btn-warning'>Update</button>
                </td>
            </tr>
        </tbody><br>
    </table>
</div>
